.simpleContainer{
    border-radius: 10px;
  
    text-align: center;
    /* color: black; */
    /* font-size: 50; */
      
      
}
.glass2{
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid rgba(255,255,255,0.19);
    /* box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37); */
  }
  .simpleContainer span{
    font-family: monospace, monospace;
  }

.skillContain{
    transition: 0.3s;
    margin-right: 7px;
    margin-top: 3px;
}

  .inforKiit span{
    display: inline-block;
  }

.jsSkill{ 
    background: linear-gradient(to right, #d09f0d, #b2a109);
    transition: 0.3s;
}

  .jsSkill:hover{
    box-shadow: 0 0 17px #e5ad07;
  }

  .htmlSkill:hover{
    box-shadow: 0 0 19px #ff4b00;
  }
.htmlSkill{
    background: linear-gradient(135deg, #8a2f2f, #8e4e29);
}

  .gitSkill:hover{

    box-shadow: 0 0 23px #f4f3f4;
  }
  .gitSkill img{
    filter: invert(1);
  }

  .cssSkill:hover{

    box-shadow: 0 0 23px #004ce8;
  }
  .cssSkill{
    background: linear-gradient(120deg, rgb(77 67 203), rgb(24 23 139));
  }
  .expressSkill img{
filter: invert(1);
  }

  .expressSkill:hover{
    box-shadow: 0 0 23px white;
  }
  .jwtSkill:hover{
box-shadow: 0 0 23px #d539fe;  
}
.jwtSkill{
    background: linear-gradient(135deg, #d1205f, #79002b);
}

.nodeSkill:hover{
    box-shadow: 0 0 23px #61b348;
}
.nodeSkill{
    background: linear-gradient(135deg, #4aa030, #369c16);
}
.typeScriptSkill:hover{
    box-shadow: 0 0 23px #1949a7;
}
.typeScriptSkill{
    background: linear-gradient(135deg, #1c16a6, #1949a7);
}

.pythonSkill:hover{
    box-shadow: 0 0 23px #ffd94a;
}

.pythonSkill{
    background: linear-gradient(to right, #d09f0d, #b2a109);

}
.javaSkill:hover{
    box-shadow: 0 0 23px #ca812e;
}
.javaSkill{
    background: linear-gradient(135deg, #ccae372b, #cd7613);
}

.mongoSkill:hover{
    box-shadow: 0 0 23px #61b348;
}
.mongoSkill{
    background: linear-gradient(135deg, #379a1963, #61b348);
}

.cSkill:hover{
    box-shadow: 0 0 23px #00599c;
}
.cSkill{
    background: linear-gradient(135deg, #1c16a6, #1949a7);
}
.reactSkill:hover{
    /* box-shadow: 0 0 23px #00d5ff; */
    box-shadow: 0 0 23px #004ce8;

}
.reactSkill{
    background: linear-gradient(135deg, #00d5ff, #004ce8);
}
.reduxSkill:hover{
    box-shadow: 0 0 23px #d539fe;  
}

.reduxSkill{
    background: linear-gradient(135deg, #720dbd, #631680);
}