.twoBody {
  padding: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 88vh;
  width: 85vw;
  /* overflow-y: hidden; */
  margin: auto;
  margin-bottom: 10px;
}

.profile-text {
  width: 100%;
  height: 15%;
  font-size: 1.4rem;
  /* margin-bottom: 4px; */
}

.container-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.projects-container {
  position: relative;
  min-height: 40vh;
  width: 30vw;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px 8px;
  border: 1px solid white !important;
  gap: 4px;
}

.project-image {
  border-radius: 15px;
  width: 98%;
  height: 10%;
  object-fit: contain; /* Ensure the image maintains its aspect ratio and shows clearly */
  /* border: 1px solid white; */
}

.project-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 4vh;
  margin-bottom: 4px;
  /* border: 2px solid red; */
  color: black;
  /* margin: 0 auto; */
}

hr {
  width: 100%;
}

.project-description {
  width: 100%;
  min-height: 10vh;
  display: flex;
  font-weight: 100;
  /* align-items: center; */
  flex-direction: column;
}

.project-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  gap: 3px;
}
.project-links a {
  color: black;
}

@media (max-width: 768px) {
  .projects-container {
    width: 40%;
    min-height: 30vh;
  }
}

@media (max-width: 480px) {
  .projects-container {
    width: 98%;
    min-height: 30vh;
    margin-top: 1rem;
  }

  .projects-container {
    font-size: small;
  }

  .project-description {
    margin-bottom: 0;
    min-height: auto;
  }
  .project-title {
    min-height: auto;
  }
  .githubLink {
    position: absolute;
    bottom: 10px;
    margin: 10px 0;
  }
}
