*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
html,body{
  height: 100%;    background: linear-gradient(to right, #3d164d, #4e0c69);
  color: white;
}
.glass{
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.19);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}